<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar">
        <div style="float: left">Paste</div>
        <a href="">Latest</a>
        <a style="float: right" href="">Add</a>
    </div>
</div>

<div class="content">
<div id="react"></div>
</div>
<script src="built/bundle.js"></script>

</body>
</html>